# Crawl Init file

#####################
### Tiles options ###
#####################

tile_window_width = 1300
tile_window_height = 700
tile_full_screen = false
tile_map_pixels = 3

## To set up RandomTiles, you need (1) the include below and (2) to add/modify
## the ready() function in your rc. See my ready() section below and the
## project page: https://github.com/gammafunk/dcss-rc#randomtiles
include += RandomTiles.rc

##################
### UI options ###
##################

travel_delay = -1
explore_delay = -1
rest_delay = -1
view_delay = 300

runrest_ignore_poison  = 2:10
runrest_ignore_monster += ^butterfly$:1
show_travel_trail = false

confirm_butcher = never
easy_eat_chunks = true
rest_delay = -1
hp_colour       = 100:green, 75:yellow, 50:red, 25:lightred
mp_colour       = 100:green, 75:yellow, 50:red, 25:lightred
hp_warning      = 25
autofight_stop  = 50
auto_sacrifice = true

bindkey = [~] CMD_LUA_CONSOLE

####################
### Menu options ###
####################

drop_filter += useless_item
sort_menus += inv: true : equipped, charged

######################
### Menu colouring ###
######################

## These should match the item_glyph colours exactly when possible.
## For menu_colour, the first match ignores subsequent matches.
menu := menu_colour
menu =

# Many of the entries below come from dat/defaults/menu_colours.txt,
# which we have to duplicate here since we want only some of the
# entries from that file.
menu += notes:white:Reached XP level

### General Inventory###
# Items currently not affecting you.
menu += darkgrey:(melded)
# Items disliked by your god.
menu += red:forbidden
# Useless items, comes here to override artefacts etc.
menu += darkgrey:.*useless.*
# Handle cursed and equipped items early to override other colour settings.
menu += lightred:.*equipped.* cursed
menu += red: (a|the) cursed
menu += inventory:lightgreen:.*equipped.*
# Colouring of autoinscribed god gifts
menu += pickup:lightred:god gift
# Highlight (partly) selected items
menu_colour += inventory:white:\w \+\s
menu_colour += inventory:white:\w \#\s

### Food ###
# Color chunks, put ordinary ones on lightgrey.
menu += red:evil_eating.*chunk
menu += blue:mutagenic.*chunk
menu += darkgrey:inedible
menu += lightgrey: +(chunks?$|chunks? +)
# These are analogous to chunks
: if you.race() == "Vampire" then
  menu += lightgrey:potions? of blood
: end

# Other food
menu += brown:fruit
menu += yellow:(pizza|jerky|jerkies)
menu += green:royal jell
menu += lightgreen:bread ration
menu += lightred:meat ration

### Potions ###
# Generally harmful
menu += blue:potions? of.*(lignification|(?<!cure|beneficial) mutation)
# Heal wounds
menu += lightred:potions? of.*heal wounds
# Mundane and ultra-rare
menu += lightgrey:potions? of.*(curing|flight)
menu += white:potions? of.*(experience|beneficial mutation)
# Damage buffs
menu += brown:potions? of.*berserk
menu += yellow:potions? of.*might
# Other buffs
menu += green:potions? of.*brilliance
menu += lightgreen:potions? of.*(invisibility|agility)
# Curing/avoiding mutations
menu += cyan:potions? of.*cancellation
menu += lightcyan:potions? of.*cure mutation
# Emergency/escape
menu += magenta:potions? of.*(magic|ambrosia)
menu += lightmagenta:potions? of.*(haste|resistance)

### Scrolls ###
# Mostly harmful
menu += blue:scroll.*noise
# Recharging
menu += lightred:scroll.*recharging
# Mundane and ultra-rare
menu += grey:scroll.*(amnesia|curse)
menu += white:scroll.*acquirement
# Damaging scrolls
: if you.race() == "Vampire" or you.race() == "Mummy"
:   or you.race() == "Ghoul" then
  menu += blue:scroll.*holy word
  menu += brown:scroll.*torment
: else
  menu += brown:scroll.*holy word
  menu += blue:scroll.*torment
: end
menu += yellow:scroll.*summoning
# Hexes and Enchantments
menu += green:scroll.*(silence|immolation|vulnerability)
menu += lightgreen:scroll.*(enchant|brand)
# Dungeon info
menu += cyan:scroll.*identify
menu += lightcyan:scroll.*magic map
# Escape
menu += magenta:scroll.*(fog|teleport)
menu += lightmagenta:scroll.*(fear|blink)

### Wands ###
# Can be harmful, only useful early
menu += blue:wand of.*random effects
# Heal wounds
menu += lightred:wand of.*heal wounds
# Lowest-level damage and strong AOE
# 0.17
menu += lightgrey:wand of.*(flame|frost|magic dart)
menu += white:wand of.*iceblast
# High level damage
# 0.17, keep before wand of fire to avoid matching fireball
menu += brown:wand of.*(lightning|fireball)
# 0.17
menu += yellow:wand of.*(draining|cold|fire|acid)
# Hexes
menu += green:wand of.*(slowing|confusion|polymorph)
menu += lightgreen:wand of.*(invisibility|paralysis|enslavement)
# Dig/disint
menu += cyan:wand of.*(digging|disintegration)
# Escape
menu += magenta:wand of.*teleportation
menu += lightmagenta:wand of.*hasting

### General identification ###
menu += cyan:manual of
menu += lightcyan:manual
menu += lightmagenta:unidentified.*artefact.*
menu += white:.*artefact.*
menu += lightblue:unidentified .*(potion|scroll|wand|jewellery|spellbook|rod|magical staff)
menu += magenta:.*known .*(ring of (dexterity|strength|intelligence|slaying|evasion|protection(?! from))|amulet of reflection)
menu += inventory:lightgray:.*(book|jewellery|magical staff)
# Ego items
menu += lightblue:unidentified.*weapon.*(runed|glowing|enchanted)
menu += lightblue:unidentified.*armour.*(runed|glowing|embroidered|shiny|dyed)


##############
### Glyphs ###
##############

## For item_glyph, subsequent matches override previous ones.
item := item_glyph

## Reasonable defaults
item += potion:lightgrey
item += scroll:lightgrey
item += wand:lightgrey
item += dangerous_item:blue
item += useless_item:darkgrey

### Potions ###
item += potions? of.*(lignification|mutation):blue
item += potions? of.*heal wounds:lightred
item += potions? of.*(curing|flight):lightgrey
item += potions? of.*(experience|beneficial mutation):white
item += potions? of.*berserk:brown
item += potions? of.*might:yellow
item += potions? of.*brilliance:green
item += potions? of.*(invisibility|agility):lightgreen
item += potions? of.*cancellation:cyan
item += potions? of.*cure mutation:lightcyan
item += potions? of.*(magic|ambrosia):magenta
item += potions? of.*(haste|resistance):lightmagenta

### Scrolls ###
item += scroll.*noise:blue
item += scroll.*recharging:lightred
item += scroll.*(amnesia|curse):lightgrey
item += scroll.*acquirement:white
: if you.race() == "Vampire" or you.race() == "Mummy"
:  or you.race() == "Ghoul" then
  item += scroll.*holy word:blue
  item += scroll.*torment:brown
: else
  item += scroll.*holy word:brown
  item += scroll.*torment:blue
: end
item += scroll.*(summoning):yellow
item += scroll.*(silence|vulnerability|immolation):green
item += scroll.*(enchant|brand weapon):lightgreen
item += scroll.*identify:cyan
item += scroll.*magic mapping:lightcyan
item += scroll.*(fog|teleport):magenta
item += scroll.*(fear|blink):lightmagenta

### Wands ###
item += wand of.*random effects:blue
item += wand of.*heal wounds:lightred
## 0.17
item += wand of.*(flame|frost|magic dart):lightgrey
item += wand of.*iceblast:white
## 0.17
item += wand of.*(acid|fire|cold|drain):yellow
## 0.17
item += wand of.*(lightning|fireball):brown
item += wand of.*(slowing|confusion|polymorph):green
item += wand of.*(invisibility|paralysis|enslavement):lightgreen
item += wand of.*(digging|disintegration):cyan
item += wand of.*teleportation:magenta
item += wand of.*hasting:lightmagenta

### General Identification ###
item += ( rod ):yellow
item += (identified|known).*(jewellery|magical staff):brown
item += identified.*spellbook:magenta
item += unidentified.*(potion|scroll|jewellery|wand|rod|magical staff).*:lightblue
item += unidentified.*book:lightmagenta
item += manual:lightcyan
item += manual of:cyan

# Jewelry types
item += known.*(ring of (dexterity|strength|intelligence|slaying|evasion|protection(?! from))|amulet of reflection):magenta
item += identified.*artefact.*(jewellery):white
item += unidentified.*artefact.*(jewellery).*:lightmagenta
item += (a )?stones?$:lightgray

### Food ###
item += chunks?.*flesh:lightgrey
: if you.race() == "Vampire" then
  item += potions? of blood:lightgrey
: end
item += mutagenic.*chunk:blue
item += evil_eating.*chunk:red
item += inedible.*chunk:darkgrey
item += fruit:brown
item += (pizza|jerky|jerkies):yellow
item += royal jell:green
item += bread ration:lightgreen
item += meat ration:lightred

# Want this to override anything above
item += useless:darkgrey
# Only mark these types when forbidden; for other types it looks odd.
item += forbidden.*(potion|scroll|food):red

## Monsters that can be easy to miss
mons := mon_glyph
mons ^= dancing weapon : cyan {
mons ^= spectral weapon : lightcyan {
mons ^= * : ✱

## Wall glyphs, requires a font and terminal that can render these.
feature += crystal wall {░}

feature += stone wall {▒}
feature += metal wall {▓}
feature += unnaturally hard rock wall {█}

feature += altar {⚑}

#########################
### Interface options ###
#########################

ability_menu = false
default_manual_training = true
allow_self_target = prompt

########################
### Auotpick options ###
########################

# Add staves and rods; note you can't use += with this option.
autopickup = $?!+"/%|\

# I use immolation somewhat early on, and vulnerability is useful the entire
# game.
autopickup_exceptions += <vulnerability|immolation
# Tend not to use this.
autopickup_exceptions += >silence

ae := autopickup_exceptions
## Don't ever need a second stave
ae += staff of .*

####################
### Autoinscribe ###
####################

ai := autoinscribe

ai += (bad|dangerous)_item.*potion:!q
ai += (bad|dangerous)_item.*scroll:!r
ai += potion.*(berserk rage):!q

ai += of faith:!P
ai += ( rod ):!a
ai += manual of:!d
ai += staff of (Wucad Mu|energy|channeling|wizardry|power|conjuration|summoning):!a

## from simm's rc
ai += curing:@q1
ai += potions? of heal wounds:@q2
ai += wand of heal wounds:@v2
ai += potions? of haste:@q3
ai += wand of hasting:@v3
ai += scrolls? of teleportation:@r4
ai += wand of teleportation:@v4
ai += identify:@r1
ai += remove curse:@r2
ai += blowgun:@w1
ai += (curare|dispersal):!f

ai += (meat|bread) ration:@e1
ai += (beef jerk|fruit|pizza):@e2
ai += royal jell:@e3

#########
# Notes #
#########

note_items    += acquirement, of Zot
note_messages += You pass through the gate
note_messages += cast .* Abyss
note_messages += Your scales start
note_messages += protects you from harm
note_messages += You fall through a shaft
## Nasty undead from Vaults and Tomb
note_monster  += lich,ancient lich,curse skull,greater mummy
## Some enemies it's good to note for Vaults:5
note_monsters += tengu reaver,storm dragon,titan
## Depths
## 0.17
note_monsters += octopode crusher
note_monsters += juggernaut,irong giant,caustic shrike
## Zot
note_monsters += killer klown,electric golem,curse toe,orb of fire

#####################
### More messages ###
#####################

more := force_more_message

# Important features
: if you.god() == "Ashenzari" then
more += You have a vision of.*gates?
: else
more += interdimensional caravan
more += distant snort
more += Found a gateway leading out of the Abyss
: end
more += Found .* abyssal rune of Zot
more += You feel a terrible weight on your shoulders

# Interrupts
more += You don't.* that spell
more += You fail to use your ability
more += You miscast
more += You can't (read|drink|do) that
more += That item cannot be evoked
more += This wand has no charges
more += You are held in a net
more += You don't have any such object
more += do not work when you're silenced
more += You can't unwield
more += enough magic points
more += You feel your control is inadequate

# Bad things
more += Your surroundings flicker
more += sense of stasis
more += You cannot teleport right now
more += The writing blurs in front of your eyes
more += (blundered into a|invokes the power of) Zot
more += Ouch! That really hurt!
more += dispelling energy hits you
more += You convulse
more += You are (blasted|electrocuted)!
more += You are (more )?confused
more += You are (more |lethally )?poisoned
more += wrath finds you
more += lose consciousness
more += Space warps horribly around you
more += hits you.*distortion
more += Space bends around you
more += watched by something
more += The dungeon rumbles around
more += The air twists around and violently strikes you in flight

# Expiring effects
more += You feel yourself slow down
more += You are starting to lose your buoyancy
more += Your hearing returns
more += Your transformation is almost over
more += You feel yourself come back to life

# Others
more += You have reached level
more += You have finished your manual of
more += Deactivating autopickup

## Problematic monsters
more += (giant eyeball|shining eye|cacodemon|neqoxec|guardian serpent|flayed ghost|greater mummy|mummy priest|hell sentinel|fiend|tzitzimitl|tormentor|hellion|lich|executioner|orb of fire|death cob|juggernaut|moth of wrath|ghost moth|curse toe|curse skull|draconian shifter).*into view

## Any uniques and any pan lords
more += (?-i:[A-Z]).* comes? into view

## 0.17
more += the royal jelly.* comes? into view

###########################
### Spell/Ability slots ###
###########################

# Move off `aa` so we don't mistrigger it, especially with macro on `1`.
ability_slot += Berserk:k
ability_slot += Fly|flight:lF
ability_slot += Stop Flying:L
ability_slot += Breathe:t
ability_slot += Blink:IB
ability_slot += Invisibility:iv

# Use z for L1 damage/buff spells in starting books.

# Prefer to use letters in a word of the spell name at (1) beginning, (2) end,
# (3) anywhere, or (4) at the beggining of a school of the spell, in order of
# preference.

# Use vowels+s,r for self-enchantments or escape spells, all other available
# letters for remaining spells. Use upper-case letters for spells like Blink
# that are dangerous to miskey.

spell_slot += Alistair's intoxication:txc
spell_slot += Apportation:aoi
spell_slot += Airstrike:ktA
spell_slot += Aura of abjuration:uio
spell_slot += Agony:yng
spell_slot += Animate dead:dnt
spell_slot += Animate skeleton:knt
spell_slot += Beastly appendage:zbt
spell_slot += Blade hands:bdt
spell_slot += Blink:IKB
spell_slot += Bolt of cold:bcd
spell_slot += Bolt of draining:bdg
spell_slot += Bolt of fire:bft
spell_slot += Bolt of magma:bmt
spell_slot += Borgnjor's revivification:BOE
spell_slot += Call canine familiar:fcn
spell_slot += Call imp:cpu
spell_slot += Cause fear:xcf
spell_slot += Controlled blink:oie
spell_slot += Corona:zcn
spell_slot += Chain lightning:cn
spell_slot += Cigutovi's embrace:eio
# 0.17
spell_slot += Condensation shield:eio
spell_slot += Confusing touch:oxc
spell_slot += Confuse:cfn
spell_slot += Conjure flame:cfj
spell_slot += Control undead:cld
spell_slot += Corpse rot:ctp
spell_slot += Cure poison:ieu
spell_slot += Dazzling spray:dyz
spell_slot += Darkness:EAS
spell_slot += Death channel:dcn
spell_slot += Death's door:EAS
spell_slot += Deflect missiles:rei
spell_slot += Discord:DCH
spell_slot += Disjunction:iou
spell_slot += Dispel undead:ndp
spell_slot += Dispersal:dxp
spell_slot += Dragon form:dfm
spell_slot += Dragon's call:dcl
spell_slot += Ensorcelled hibernation:zxc
spell_slot += Excruciating wounds:wxd
spell_slot += Fire storm:fmt
spell_slot += Fireball:fbl
spell_slot += Flame tongue:zfm
spell_slot += Force lance:flc
spell_slot += Freezing cloud:fcd
spell_slot += Freeze:zfc
spell_slot += Fulminant prism:fpt
spell_slot += Gell's Gravitas:gvt
spell_slot += Glaciate:gct
spell_slot += Haste:eas
spell_slot += Haunt:hnt
spell_slot += Hydra form:hym
spell_slot += Ice form:cfm
spell_slot += Iron shot:tnT
spell_slot += Infusion:ofn
spell_slot += Inner flame:fxn
spell_slot += Invisibility:vyx
spell_slot += Irradiate:tdD
spell_slot += Iskenderun's battlesphere:kdp
spell_slot += Iskenderun's mystic blast:byd
spell_slot += Leda's Liquefaction:lqd
spell_slot += Lee's rapid deconstruction:ldt
spell_slot += Lehudib's crystal spear:bly
spell_slot += Lightning bolt:lbt
spell_slot += Magic dart:zdt
spell_slot += Malign gateway:wyt
spell_slot += Mass confusion:mcf
spell_slot += Mephitic cloud:mpc
spell_slot += Metabolic englaciation:mgt
spell_slot += Monstrous menagerie:mgt
spell_slot += Necromutation:nmt
spell_slot += Olgreb's toxic radiance:pxt
spell_slot += Orb of destruction:dbt
spell_slot += Ozocubu's armour:oua
spell_slot += Ozocubu's refrigeration:cbz
spell_slot += Pain:zpn
spell_slot += Passage of golubria:uoi
spell_slot += Passwall:wpP
spell_slot += Petrify:pyt
spell_slot += Phase shift:eai
spell_slot += Poison arrow:pwn
spell_slot += Poisonous cloud:pcd
spell_slot += Portal projectile:oei
spell_slot += Recall:eaR
spell_slot += Regeneration:eio
spell_slot += Repel missiles:rei
spell_slot += Ring of flames:fmn
spell_slot += Sandblast:zbt
spell_slot += Searing ray:ygn
spell_slot += Shadow creatures:wcd
spell_slot += Shatter:TSH
spell_slot += Shock:zok
spell_slot += Shroud of golubria:oua
spell_slot += Simulacrum:cnm
spell_slot += Silence:CN
spell_slot += Slow:wox
spell_slot += Song of slaying:oia
spell_slot += Spectral weapon:wox
spell_slot += Spellforged servitor:vto
spell_slot += Spider form:pdm
spell_slot += Static discharge:tdc
spell_slot += Statue form:toS
spell_slot += Sticks to snakes:tkc
spell_slot += Sticky flame:yfk
spell_slot += Sting:zpt
spell_slot += Stone arrow:wtn
spell_slot += Stoneskin:ieo
spell_slot += Summon butterflies:UEI
spell_slot += Summon demon:dmn
spell_slot += Summon forest:ftm
spell_slot += Summon greater demon:gdn
spell_slot += Summon guardian golem:gdn
spell_slot += Summon horrible things:htg
spell_slot += Summon hydra:hyd
spell_slot += Summon ice beast:bct
spell_slot += Summon lightning spire:ltp
spell_slot += Summon mana viper:vmp
spell_slot += Summon small mammal:zml
spell_slot += Swiftness:sie
spell_slot += Teleport other:tpT
spell_slot += Throw frost:ftw
spell_slot += Throw flame:fmw
spell_slot += Throw icicle:cwt
spell_slot += Tornado:TDN
spell_slot += Tukima's Dance:dkc
spell_slot += Vampiric draining:vnd
spell_slot += Venom bolt:bvm
spell_slot += Warp weapon:wpn
spell_slot += Yara's violent unraveling:yvg

# Default letters
spell_slot += .*:XYZ

##################
### Item slots ###
##################

## In order of letter used.
# 0.17
item_slot += amulet of (stasis|harm) : A
item_slot += amulet of rage : B
item_slot += ring of (ice|protection from cold) : Cc
item_slot += amulet of (warding|dismissal) : D
item_slot += \+[0-9]+ ring of evasion : Ee
item_slot += ring of .*fire : Ff
item_slot += amulet of regeneration : g
item_slot += amulet of guardian spirit : G
item_slot += amulet of faith : H
item_slot += \+[0-9]+ ring of intelligence : Ii
# 0.17
item_slot += amulet of clarity : K
item_slot += ring of flight : L
item_slot += ring of protection from magic : Mm
item_slot += ring of positive energy : Nn
item_slot += \+[0-9]+ ring of protection : Oo
item_slot += ring of poison resistance : P
item_slot += ring of stealth : Qq
# 0.17
item_slot += (amulet|ring) of resist corrosion : R
item_slot += amulet of mana regeneration : r
item_slot += \+[0-9]+ ring of strength : Ss
item_slot += ring of teleportation : t
item_slot += ring of sustain attributes : T
item_slot += amulet of gourmand : U
# 0.17
item_slot += amulet of resist mutation : u
item_slot += ring of see invisible : v
# 0.17
item_slot += ring of invisibility : V
item_slot += ring of magical power : Ww
item_slot += \+[0-9]+ ring of dexterity : Xx
item_slot += \+[0-9]+ ring of slaying : Yy
item_slot += ring of wizardry : Zz


############
## Macros ##
############

macros += M e ===safe_eat
macros += M S ===save_with_message
macros += M 1 aa
macros += M 3 zz
macros += M 6 ===one_turn_rest
macros += M 7 ===start_resting
macros += M 8 ===new_random_tile
macros += M 9 ===set_tile_by_name
macros += M 0 ===toggle_tile_timer
macros += M - ===toggle_random_tile
macros += M ] ===set_target_skill

######################
### Morgue options ###
######################

dump_message_count = 30
dump_order  = header,hiscore,stats,misc,mutations,skills,spells,inventory
dump_order += screenshot,monlist,messages,action_counts,vaults,notes,kills
note_hp_percent = 10
note_all_skill_levels = true
note_chat_messages = false
user_note_prefix = >>

###################
## Debug Options ##
###################

fsim_rounds = 10000

##############################
## Lua and ready() function ##
##############################

{

-- Spellcasting spam reduction by monqy
local function generic_cast_spell(cmd)
  crawl.mpr('<cyan>Cast which spell?</cyan>')
  crawl.flush_prev_message()
  crawl.process_keys(cmd)
end

function cast_spell()
  generic_cast_spell('z')
end

function force_cast_spell()
  generic_cast_spell('Z')
end

-- Some simple options for turncount and realtime runs. Note I don't play much
-- of the latter, and these options are taken from the RCs of players who do.
-- Uses the toggle_options lua:
--   https://github.com/gammafunk/dcss-rc#toggle_options
option_groups = {
    ["turncount"] = {
        {option = "confirm_butcher = %t", on="never", off="auto"},
        {option = "ai %t= (bread|meat) ration:!e", on="+", off="-"},
        {option = "ai %t= scroll.+of.*(acquirement|summoning|teleportation" ..
             "|fear|magic mapping):!r", on="+", off="-"},
        {option = "ai %t= potion.+of(curing|heal wounds|might|agility" ..
             "|brilliance|magic|invisibility):!q", on="+", off="-"}
    },
    ["realtime"] = {
        {option = "ae %t= >wand of (magic darts|flame|frost)", on="+", off="-"},
        {option = "ae %t= >wand of (slowing|polymorph|confusion|paralysis)",
         on="+", off="-"},
        {option = "use_animations = %t", on="", off="beam, range, hp, " ..
             "monster_in_sight, pickup, monster, player, branch_entry"},
    },
} -- end option groups

-- Note: My final rc file has the lua files from
-- https://github.com/gammafunk/dcss-rc included starting on the next line.
--LUA INCLUDE--

function ready()

  -- Enable char default skills; this must come before target_skill().
  char_defaults()

  -- Enable skill target settings.
  target_skill()

  -- Enable speedrun resting.
  speedrun_rest()

  -- Enable persistent messages.
  load_message()

  -- Dynamic force-mores.
  force_mores()

  -- Char dumps every 1k turns.
  char_dump()

  -- Enable RandomTiles.
  random_tile()
end

}
