# Crawl Init file with some speedrun related things.
# See the README for further details:
# https://github.com/gammafunk/dcss-rc/blob/master/README.md
# NOTE: This file includes gammafunk.rc automatically. If you're using this RC
# as your RC file, see the notes at the top of gammafunk.rc about sections
# conditioned on my username, as those apply to this RC file as well.

################
### RC files ###
################

{
-- Prevent gammafunk.rc from attempting to load gammaspeed.rc twice.
gammaspeed_rc_loaded = true

-- Only load gammafunk.rc and RandomTiles.rc if we haven't already.
if not gammafunk_rc_loaded then
    crawl.read_options("gammafunk.rc")

    -- Only load RandomTiles for myself.
    if you.name() == "gammaspeed" then
        crawl.read_options("RandomTiles.rc")
    end
end
}

#################
### Interface ###
#################

# This doesn't seem to work when included from another RC, so set it here as
# well.
default_manual_training = true

############
## Macros ##
############

macros += M 6 ===one_turn_rest
macros += M 7 ===start_resting
macros += M ] ===save_char_defaults

# Only make these macros for my username. If copying this part of my RC
# directly into your own, remove these lines including the '{' and '}' if you
# don't want RandomTiles or save_with_message. If you want either of those,
# replace these lines with normal RC macro lines like:
#
# macros += M S ===save_with_message
# macros += M 8 ===new_random_tile
# ...
#
{
-- Must use crawl.setopt() for the name condition to work.
if you.name() == "gammaspeed" then
    crawl.setopt("macros += M 1 zz")
    crawl.setopt("macros += M S ===save_with_message")
    crawl.setopt("macros += M 8 ===new_random_tile")
    crawl.setopt("macros += M 9 ===set_tile_by_name")
    crawl.setopt("macros += M 0 ===toggle_tile_timer")
    crawl.setopt("macros += M - ===toggle_random_tile")
end
}

###########
### Lua ###
###########

# Note: My final RC file has code from lua files found at:
#     https://github.com/gammafunk/dcss-rc/blob/master/README.md

# starting from the line below. Some lua is in gammafunk.rc instead, which is
# sourced by this RC.
# BEGIN LUA

# The ready() function  is needed for code that has to process each turn or UI
# action.
{
function ready()

  -- char_defaults.lua
  char_defaults()

  -- force_mores.lua
  force_mores()

  -- speedrun_rest.lua
  speedrun_rest()

  -- Enable these only for my usernames.
  if you.name() == "gammaspeed" then
      -- load_message.lua
      load_message()

      -- RandomTiles
      random_tile()

  end

end
}
