{
-- PlayerGlyphs.rc
-- Set the player glyph and colour according to some notable monsters, based on our best skills

melee_skills = {"Unarmed Combat", "Short Blades", "Long Blades", "Axes", "Maces & Fails",
                "Polearms", "Staves"}

ranged_skills = {"Sling", "Bows", "Crossbows", "Throwing"}

attk_skills = {"Unarmed Combat", "Short Blades", "Long Blades", "Axes",
                 "Maces & Fails", "Polearms", "Staves", "Sling", "Bows",
                 "Crossbows", "Throwing"}
naga_skills = {"Conjurations", "Poison Magic"}
for k,v in pairs(attka) do naga_skills[k] = v end

conj_skills = {"Conjurations", "Fire Magic", "Ice Magic", "Air Magic", "Earth Magic", "Poison Magic", "Necromancy"}
magic_skills = {"Translocations", "Transmutations", "Necromancy", "Summonings",
                "Conjurations", "Fire Magic", "Ice Magic", "Earth Magic",
                "Air Magic", "Poison Magic"}
other_skills = {"Invocations"}

best_attk_lvl = -1
best_attk_skill = nil
for skill in attk_skills do
  if you.skill(skill) > best_attk_lvl then
    best_attk_lvl = you.skill(skill)
    best_attk_skill = skill
  end
end

best_magic_lvl = -1
best_magic_skill = nil
for skill in magic_skills do
  if you.skill(skill) > best_magic_lvl then
    best_magic_lvl = you.skill(skill)
    best_magic_skill = skill
  end
end

## Did you roll a caster to gank orcs
is_caster = best_attk_lvl < best_magic_lvl
best_skill = is_caster and best_magic_skill or best_attk_skill
best_lvl = is_caster and best_magic_lvl or best_attk_lvl

is_priest = you.skill("Invocations") > best_lvl
best_skill =  is_priest and "Invocations" or best_skill


char_map = {
   Elf = {glyph = "e", colour = "red",
          roles = {
             {skills = {"Summonings"}, colour = "brown", title = "Summoner"},
             {skills = {"Summonings"}, min_lvl = 16, colour = "yellow",
              title = "Demonologist"},
             {skills = {"Invocations"}, colour = "green", title = "Priest"},
             {skills = {"Invocations"}, min_lvl = 15, colour = "lightgreen",
              title = "High Priest"},
             {skills = conj_skills, colour = "magenta", title = "Mage"},
             {skills = conj_skills, min_lvl = 8, colour = "lightblue",
              title = "Conjurer"},
             {skills = {"Conjurations", "Air Magic", "Earth Magic",
                        "Poison Magic"},
              min_lvl = 16, colour = "lightblue", title = "Annihilator"},
             {skills = {"Fire Magic"}, min_lvl = 16, colour = "lightmagenta",
              title = "Sorcerer"},
             {skills = {"Necromancy"}, min_lvl = 16, colour = "white",
              title = "Death Mage"},
             {skills = attk_skills, colour = "lightred", title = "Fighter"},
             {skills = attk_skills, min_lvl = 8, colour = "cyan",
              title = "Knight"},
             {skills = ranged_skills, min_lvl = 16, colour = "lightgrey",
              title = "Master Archer"},
             {skills = melee_skills, min_lvl = 16, colour = "lightcyan",
              title = "Blademaster"},
             {skills = {"Bows"}, min_lvl = 16, colour = "white",
              title = "Death Mage"}}},
   Merfolk = {glyph = "m", colour = "red",
              roles = {
                 {skills = {"Hexes", "Charms"}, min_lvl = 8, colour = "cyan",
                  title = "Siren"},
                 {skills = {"Hexes", "Charms"}, min_lvl = 16,
                  colour = "lightcyan", title = "Avatar"},
                 {skills = conj_skills, min_lvl = 16, colour = "green",
                  title = "Aquamancer"},
                 {skills = melee_skills, min_lvl = 16, colour = "yellow",
                  title = "Impaler"},
                 {skills = ranged_skills, min_lvl = 16, colour = "white",
                  title = "Javelineer"}}},
   Orc = {glyph = "o", colour = "red",
          roles = {
             {skills = {"Invocations"}, min_lvl = 7, colour = "green",
              title = "Priest"},
             {skills = {"Invocations"}, min_lvl = 15, colour = "lightgreen",
              title = "High Priest"},
             {skills = conj_skills, min_lvl = 8, colour = "magenta",
              title = "Wizard"},
             {skills = conj_skills, min_lvl = 16, colour = "lightmajenta",
              title = "Sorceror"},
             {skills = {"Necromancy"}, min_lvl = 16, colour = "white",
              title = "Nergalle"},
             {skills = attk_skills, min_lvl = 6, colour = "yellow",
              title = "Warrior"},
             {skills = attk_skills, min_lvl = 12, colour = "yellow",
              title = "Knight"},
             {skills = attk_skills, min_lvl = 18, colour = "yellow",
              title = "Warlord"},
             {skills = attk_skills, min_lvl = 24, colour = "lightblue",
              title = "Saint Roka"}}},
   Naga = {glyph = "N", colour = "green",
           roles = {
             {skills = attk_skills, min_lvl = 6, colour = "blue",
              title = "Warrior"},
             {skills = {"Conjurations", "Poison Magic"}, min_lvl = 8,
              colour = "magenta", title = "Mage"},
             {skills = {"Conjurations", "Poison Magic"}, min_lvl = 12,
              colour = "brown", title = "Ritualist"},
             {skills = {"Conjurations", "Poison Magic"}, min_lvl = 12,
              colour = "brown", title = "Ritualist"},
             {skills = ranged_skills, min_lvl = 12, colour = "white",
              title = "Sharpshooter"},
             {skills = ranged_skills, min_lvl = 18, colour = "lightcyan",
              title = "Vashnia"},
             {skills = {"Invocations"}, min_lvl = 7, colour = "green",
              title = "Priest"},
}}}

if you.race() == "Centaur" then
if melee == true and best >= 15 then
mon_glyph = player:yellow c
else
mon_glyph = player:brown c
end
end
if you.race() == "Spriggan" then
if you.god() == "Trog" then
mon_glyph = player:lightred i
else
mon_glyph = player:lightgrey i
end
end
if you.race() == "Kobold" then
if skill_name == "Summonings" then
mon_glyph = player:magenta K
else
mon_glyph = player:brown K
end
end
if you.race() == "Mummy" then
if skill_name == "Invocations" then
mon_glyph = player:red M
elseif best >= 25 then
mon_glyph = player:green M
else
mon_glyph = player:lightgrey M
pp:end
end
if you.race() == "Vampire" then
if melee == true and best >= 15 then
mon_glyph = player:cyan V
elseif casting == true and best >= 15 then
mon_glyph = player:magenta V
else
mon_glyph = player:red V
end
end

crawl.setopt("mon_glyph = player : " .. player_colour .. player_glyph)
}
